body{
    background-color: grey;
}

.auto{
    color: white;
    background-color: rgb(8, 8, 8);
    padding: 7px;
}

.redBtn{
    color: honeydew;
    background-color: red;
    padding: 7px;
}

.yellowBtn{
    color: black;
    background-color: yellow;
    padding: 7px;
}

.greenBtn{
    color: honeydew;
    background-color: green;
    padding: 7px;
}

.signal{
    /* border: chartreuse; */
    /* padding: 45px; */
    /* margin: 200px 600px 0px 600px; */
    margin-top: 40px;
    margin-bottom: 30px;
    width: 60px;
    background-color: rgb(63, 62, 62);
    padding: 20px;
    /* position: fixed; */
    /* right: 100px; */
}

.red{
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: red;
}
.yellow{
    margin-top: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: yellow;
}
.green{
    margin-top: 10px;

    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;

    background-color: green;
}